*{
    color: chocolate;
}
.active{
    background-color: bisque;
}
a:hover{
    color: chocolate;
}
.dropdown-toggle{
    color: chocolate;
}
.nav-link {
    color: chocolate;
}
.Login{
    border-radius: 20px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    background-color: none;
   
}
