.login{
    margin: auto;
    width: 400px;
    height: 500px;
    background: black;
    border: 3px solid chocolate;
    
    padding: 20px;
    color: chocolate;
}
.btn{
    background-color: chocolate; 
}